html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  min-height: 100%;
  color: #333;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background-color: #0f0f12;
  font-size: 18px;
  transition: all 0.3s;
  padding: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
  }
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  font-weight: 700;
}

h1 {
  margin: 0.67em 0;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0px;
  list-style: none;
}

header {
  display: flex;
}

.container {
  padding: 20px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.name {
  color: #fff;
  cursor: pointer;
  margin-right: 32px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 300;
}

.nav-link {
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  cursor: pointer;
  flex-flow: column wrap;
  align-items: flex-end;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  display: flex;
  &:hover {
    color: #fff;
    transform: translate(-4px);
  }
  &:active {
    transform: translateY(4px);
  }
  &.w--current {
    color: rgba(255, 255, 255, 0.6);
  }
}

.text-span {
  opacity: 0.6;
  font-family: Tt commons classic webfont, Verdana, sans-serif;
}

.paragraph {
  max-width: 60ch;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  font-family: "Noto Sans";
}

.writing_card,
.experience_card {
  border-color: hsl(0deg 0% 83%);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
  padding-bottom: 24px;
  display: flex;
}

.image-2 {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin-right: 20px;
}

.div-block-2 {
  width: 40px;
  height: 40px;
  text-align: left;
  margin-right: 20px;
  padding-top: 4px;
  font-size: 24px;
}

.date {
  max-width: 75ch;
  opacity: 0.6;
  margin-top: 0;
  font-family: Tt commons classic webfont, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.block {
  margin-top: 100px;
}

.icon_s {
  filter: brightness(1);
  opacity: 0.8;
  margin-right: 8px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}

.experience_desc {
  max-width: 75ch;
  opacity: 0.6;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  opacity: 0.6;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 600;
}

.heading {
  max-width: 14ch;
  margin-bottom: 40px;
  font-size: 49px;
  font-weight: 600;
  line-height: 48px;
}

.text-block {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;
}

.xp-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.card {
  min-height: 300px;
  background-color: #18191e;
  border-radius: 20px;
  margin-bottom: 60px;
}

.image {
  width: auto;
  height: 60px;
}

.heading-section {
  max-width: 390px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 36px;
}

.link {
  margin-left: auto;
  margin-right: auto;
}

.column {
  height: 100vh;
  align-items: center;
  display: flex;
}
